<!-- views/calories-user.ejs -->
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Fitness App</title>
    <meta name="description" content="The HTML5 Herald" />
    <meta name="author" content="SitePoint" />

    <link rel="stylesheet" type="text/css" href="/css/calories.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="/script/calories.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  </head>

  <body onload="load()">
    <div class="container" id="nav">
      <li><a href="/home">Home</a></li>
      <li>
        <a class="calories-user" href="/calories-user">Calories Calculator</a>
      </li>
      <li><a class="history" href="/history">My History</a></li>
      <div class="container" id="logout_box">
        <i class="material-icons md-48">account_circle</i>
        <a href="/logout" id="logout">Logout</a>
      </div>
    </div>

    <div class="container" id="title">
      <p>Calories Calculator</p>
    </div>

    <div class="container">
      <button type="button" class="row" onclick="addRow()">Add row</button>
      <button type="button" class="row" onclick="deleteRow()">
        Delete Row
      </button>
      <button type="button" id="search" onclick="search()">
        Search Nutrition Facts
      </button>

      <table id="myTable">
        <tr>
          <th>Food Name</th>
          <th>Mass/Quantity</th>
          <th>Unit</th>
          <th>Carbs</th>
          <th>Fat</th>
          <th>Protein</th>
          <th>K Calories</th>
        </tr>

        <tr>
          <td name="name"></td>
          <td name="mass"></td>
          <td>
            <select name="unit">
              <option value="gram">Gram</option>
              <option value="kilogram">Kilogram</option>
              <option value="ounce">Ounce</option>
              <option value="pinch">Pinch</option>
              <option value="liter">Liter</option>
              <option value="fluid_ounce">Fluid Ounce</option>
              <option value="gallon">Gallon</option>
              <option value="pint">Pint</option>
              <option value="milliliter">Milliliter</option>
              <option value="cup">Cup</option>
              <option value="tablespoon">Tablespoon</option>
              <option value="teaspoon">Teaspoon</option>
            </select>
          </td>
          <td name="carb"></td>
          <td name="fat"></td>
          <td name="protein"></td>
          <td name="calories"></td>
        </tr>
        <tr id="total">
          <th name="name">Total</th>
          <td name="mass"></td>
          <td name="unit"></td>
          <td name="carb"></td>
          <td name="fat"></td>
          <td name="protein"></td>
          <td name="calories"></td>
        </tr>
      </table>
      <div class="container">
        <input type="date" id="day" />
        <select id="meal">
          <option value="none">Select Meal</option>
          <option value="breakfast">Breakfast</option>
          <option value="lunch">Lunch</option>
          <option value="dinner">Dinner</option>
        </select>

        <button id="save" onclick="save()">Save</button>
      </div>
    </div>
  </body>
</html>
