<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Fitness App</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">


<link rel="stylesheet" type="text/css" href="/css/calories.css">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap" rel="stylesheet">
<script src="calories.js"></script>
</head>

<body onload="load()">
        <div class="container" id="nav">
                <li><a href="/">Home</a></li>
                <li> <a class="calories-user" href="/calories-user">Calories Calculator</a></li>
                <li><a class = "history" href ="/history">Food History</a></li>
                <li><a href="/account">Account</a></li>
               </div>


  <div class="container" id="title">
<p>Calories Calculator</p>
  </div>

  <div class="container">
    

    
    <button type="button" id="row" onclick="addRow()"> Add row</button>
    <div class="container" >
    
    <button type="button" id="search" onclick="search()" >Search Nutrition Facts</button>
</div>
   
      <table id="myTable">
        <tr>
          <th>Food Name</th>
          <th>Mass/Quantity</th>
          <th>Unit</th>
          <th>Carbs</th>
          <th>Fat</th>
          <th>Protein</th>
          <th>K Calories</th>
        </tr>
  
        <tr>
          <td name="name"></td>
          <td name= "mass"></td>
          <td> <select name="unit">
            <option value="gram">gram</option>
            <option value="ounce">ounce</option>
            <option value="pound">pound</option>
            <option value="kilogram">kilogram</option>
          </select></td>
          <td name = "carb"></td>
          <td name = "fat"></td>
          <td name ="protein"></td>
          <td name ="calories"></td>
        </tr>
        <tr id="total">
          <th name="name">Total</th>
          <td name= "mass"></td>
          <td name = "unit"></td>
          <td name = "carb"></td>
          <td name = "fat"></td>
          <td name ="protein"></td>
          <td name ="calories"></td>
        </tr>
  
        
        
  
      </table>
      <div class="container">
      <input type="date" id="day">
      <select id="meal">
        <option value="none">Select Meal</option>
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
          </select>
      
          <button id="save" onclick="save()">Save</button>
   </div>
  </div>
  
  
  
</body>
</html>




