<!-- views/login.ejs -->
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Fitness App</title>
    <meta name="description" content="The HTML5 Herald" />
    <meta name="author" content="SitePoint" />

    <link rel="stylesheet" type="text/css" href="/css/web.css" />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap" rel="stylesheet">
    <script language="JavaScript"  src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <script src="/web.js"></script>
   
  </head>

  <body>
    <div class="container" id="title">
      <p>Welcome to the Web Fitness App</p>
    </div>

    <h1>Login Failed</h1>

    <div class="container" id="nav">
      <li><a class = "home" href ="/">Home</a></li>
      <li><a class="calories" href="/calories">Calories Calculator</a></li>
      <li><a href="#about">About</a></li>
    </div>
  </body>
</html>
