html {
 
  font-family: 'IBM Plex Serif',"serif";
  font-size: 40px;
  color: rgb(255, 255, 255);
}

html:after {
  opacity: 0.6;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: inline;
  padding-right: 50px;
}

#nav {
  background-color: white;
  overflow: hidden;
  margin-top: 20%;
}

#title {
  margin-top: 120px;
  color: orange;
}


h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color:Red
}

button {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 25px;
  color: black
}

a{
  text-decoration: none;
  color: black;
}

#signup{
  font-size:25px;
  color:rgb(10,230,200)
}

#logout{
  color: red
}

label{
  font-size:25px; 
  color:rgb(245, 131, 235)
  
}

p{
  position: relative;
  bottom:120px
}