@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html {
  height: 100%  !important;
}
.calendar-container,
.calendar,
.calendar-header
{
  font-family: "Roboto", sans-serif;
  color:white;
}
.container {
 
  background-color: white;
  height: 100%;
  overflow-x: hidden;
 
}
.calendar_container {
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden
}

.calendar {
  table-layout: fixed ;
  z-index: 1;
  border-spacing: 0;
  border-collapse: collapse;
  width: 300%;
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
}

.calendar_header {
  border-bottom: 0.15rem dashed skyblue;
  font-size: 7.0rem;
}



.day,
.empty_slot,
.week_day {
  text-align: center;
  height: 5rem;
  
}

.week_day {
  font-size: 2.0rem;
}

.day {
  font-size: 2.5rem;
}

.day {
  cursor: pointer;
  width: 6rem;
  height: 8rem;
}

.current_day {
  width: 6rem;
  height: 8rem;
  border-style: solid;
  border-radius: 2%;
  border-width: 0.2rem;
  border-color: black;
  color: black;
}
.selected_day {
  width: 6rem;
  height: 8rem;
  border-style: solid;
  border-width: 0.2rem;
  border-color: white;
  border-radius: 2%;
 
}

.month_popup {
  position: absolute;
  background: white;
  border: 0.2rem solid skyblue;
  overflow-y: scroll;
  height: 20rem;
}

.month_popup div {
  padding: 0.5rem;
}

.editor_year {
  width: 15rem;
  font-size: 5rem;
  height:10rem;
  background-color: white;
}

.label_month
 {
  font-size: 5.5rem;
}
.label_month:hover{
  color:black;
}
.label_month {
  cursor: pointer;
}

.button {
  font-family: "Roboto", sans-serif;
  border-radius: 1rem;
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
  color:white;
  font-size:1.0rem;
  border-color: white;
  transition-duration: 0.4s;
  height:40%;
 
}
.darkButton{
  border-radius: 1.5rem;
  background-color:rgba(0,0,0, 0.9);
  color:black;
  font-size:1.0rem;
  border-color:black;
  height:40%
}


.button:hover{
  border-color: black;
  color:black;
}
.arrow {
	position: absolute;
	top: 8%;
	width: 3rem;
	height: 3rem;
	background: transparent;
	border-top: 0.7rem solid white;
  border-right: 0.7rem solid white;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
}
	.left {
		left: 2rem;
		transform: translate3d(0,-50%,0) rotate(-135deg);
	}

	.right {
		right: 2rem;
		transform: translate3d(0,-50%,0) rotate(45deg);
	}
	
	.arrow:hover {
		border-color: orange;
		box-shadow: 0.5rem -0.5rem 0 white;
	}
	
.darkArrow{
	position: absolute;
	top: 10%;
	width: 3rem;
	height: 3rem;
	background: transparent;
	border-top: 0.7rem solid rgba(0,0,0, 0.5);
  border-right: 0.7rem solid rgba(0,0,0, 0.5);
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;

}
