
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.container {
  z-index:999;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  height: "calc(100vh - 100px)";
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 1;
  cursor: move;
  color:white;
}
.container2 {
 
  background: linear-gradient(to right, #25c481, #25b7c4);
  position: absolute;
  border-radius: 2rem;
  overflow-y:scroll;
  height: 50rem;
}


.table,
.th,
.td {
  padding:2rem;
  border: 0.2rem solid rgba(255,255,255,0.3);
  font-size:1.5rem
}
.th{
  font-size:2rem
}
.table {
  background: linear-gradient(to right, #25c481, #25b7c4);
}



.total {
  border: 0.2rem solid black;
  font-size: 4rem;
}

.select {
  font-family: "Roboto", sans-serif;
  border-radius: 0.6rem;
  height: 5em;
  text-align: center;
  overflow: hidden;
  
}





.button{
  font-size: 1.4rem;
  transition-duration: 0.4s;
  border: 0.2rem solid rgba(255,255,255,1);
  color:white;
  border-radius:10px;
  background: linear-gradient(to right, #25c481, #25b7c4);
  
}

.button:hover {
  
  color: black
}

@keyframes glowing {
  0% {
    background-color:#f79328; ;
    border-color: #f79328;
    box-shadow: 0 0 1rem #f79328;
    color:black;
  }
  50% {
    background-color: #f79328; ;
    border-color: #f79328;
    box-shadow: 0 0 1.5rem #f79328;
  }
  100% {
    background-color:#f79328;  
    border-color: #f79328;
    box-shadow: 0 0 3rem #f79328;
  }
}
@-webkit-keyframes glowing {
  0% {
    background-color:#f79328; ;
    border-color: #f79328;
    box-shadow: 0 0 1rem #f79328;
  }
  50% {
    background-color: #f79328; ;
    border-color: #f79328;
    box-shadow: 0 0 1.5rem #f79328;
  }
  100% {
    background-color:#f79328;  
    border-color: #f79328;
    box-shadow: 0 0 3rem #f79328;
  }
}
.highlight{
  animation: glowing 1300ms infinite;
}


