
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.container {
  z-index:999;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 1;
  cursor: move;
  color:black;
}
.container2 {
 
  background:beige;
  position: absolute;
  border-radius: 2rem;
  overflow-y:scroll;
  height: 30rem;

}


.table,
.th,
.td {
  padding:2rem;
  border: 0.2rem solid black;
  font-size:1rem
}
.th{
  font-size:1rem
}
.table {
  background: beige;
}

.td{
  height:3rem;
}


.total {
  border: 0.2rem solid black;
  font-size: 1.5rem;
}

.select {
  font-family: "Roboto", sans-serif;
  border-radius: 0.6rem;
  height: 3rem;
  text-align: center;
  overflow: hidden;
  
}





.button{
  font-size: 1.4rem;
  transition-duration: 0.4s;
  border: 0.2rem solid black;
  color:black;
  border-radius:10px;
  background: white;
  
}

.button:hover {
  
  color: orange;
}

@keyframes glowing {
  0% {
    background-color:#f79328; ;
    border-color: #f79328;
    box-shadow: 0 0 1rem #f79328;
    color:white;
  }
  50% {
    background-color: #f79328; ;
    border-color: #f79328;
    box-shadow: 0 0 1.5rem #f79328;
  }
  100% {
    background-color:#f79328;  
    border-color: #f79328;
    box-shadow: 0 0 3rem #f79328;
  }
}
@-webkit-keyframes glowing {
  0% {
    background-color:#f79328; ;
    border-color: #f79328;
    box-shadow: 0 0 1rem #f79328;
  }
  50% {
    background-color: #f79328; ;
    border-color: #f79328;
    box-shadow: 0 0 1.5rem #f79328;
  }
  100% {
    background-color:#f79328;  
    border-color: #f79328;
    box-shadow: 0 0 3rem #f79328;
  }
}
.highlight{
  animation: glowing 1300ms infinite;
}


