html {
  margin: 0px;
  height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.full{
  position: relative;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: rgb(212,178,211);
  background: radial-gradient(circle, rgba(212,178,211,1) 22%, rgba(174,225,238,0.9724264705882353) 73%, rgba(148,187,233,1) 100%);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  
}
.nav_contain {
  display: inline;
  padding-right: 50px;

}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: black;
}

.nav_text {
  text-decoration: none;
  color: white;
}


.signup {
  font-size: 25px;
}

.logout {
  color: Black;
}

.label {
  font-size: 25px;
  color: black;
}


.login {
  position: relative;
  top: 300px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 100px;;
  width: 900px;
  height: 300px;
  
}

.material-icons.md-48 {
  font-size: 100px;
  position: relative;
}

.input {
  font-size: 20px;
  width: 180px;
}


.logoutLink{
  text-decoration: none;
  font-size:40px;
}
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
.heading{
  margin:0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  color:white;
  font-family: 'Amatic SC', cursive;
  font-size: 6rem;
}