
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.full{
  position: relative;
  height: 100% ;
  font-family: "Roboto", sans-serif;
  background: rgb(212,178,211);
  background: radial-gradient(circle, rgba(212,178,211,1) 22%, rgba(174,225,238,0.9724264705882353) 73%, rgba(148,187,233,1) 100%);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  
}


.button {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: black;
}





.label {
  font-size: 1.5rem;
  color: black;
}


.login {
  position: relative;
  top: 20rem;
  border-style: solid;
  border-color: white;
  border-width: 0.5rem;
  border-radius: 4rem;
  width: 60rem;
  height: 20rem;
}



.input {
  font-size: 1.5rem;
  width: 10rem
}


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
.heading{
  margin:0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  color:white;
  font-family: 'Amatic SC', cursive;
  font-size: 6rem;
}